{% extends 'admin/layout.html.twig' %}

{% block title %} Edit user {% endblock %}
{% block pagename %} Edit user {% endblock %}

{% block breadcrumb %} 
	<li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">User</a></li>
    <li class="breadcrumb-item active">Edit user</li>
{% endblock %}

{% block content %} 
	<div class="card">
        <div class="card-header">
            <h4 class="card-title" id="basic-layout-colored-form-control">
                <i class="ft-plus text-primary"></i> Edit user</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
					<li><a data-action="collapse"><i class="btn-outline-warning ft-minus"></i></a></li>
					<li><a data-action="reload"><i class="btn-outline-primary ft-rotate-cw"></i></a></li>
					<li><a data-action="expand"><i class="btn-outline-success ft-maximize"></i></a></li>
					<li><a data-action="close"><i class="btn-outline-danger ft-x"></i></a></li>
				</ul>
            </div>
        </div>
		  <div class="card-content collapse show">
            <div class="card-body">
				{{ include('admin/user/_form.html.twig') }}
            </div>
		</div>
	</div>  
{% endblock %}

{% block javascripts %}
	{{  parent()  }}
{% endblock %}