{% extends 'admin.html.twig' %}

{% block title %}Edit JobPost{% endblock %}

{% block body %}
    <h1>Edit JobPost</h1>

    {{ include('job_post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_post_index') }}">back to list</a>

    {{ include('job_post/_delete_form.html.twig') }}
{% endblock %}
