{% extends 'base.html.twig' %}

{% block title %}Edit SystemConfig{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <h1 class="page-header">Edit SystemConfig</h1>
    </div>

    {{ include('system_config/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('system_config_index') }}" class="text-danger"> <i class="fa fa-arrow-left"></i> back to list</a>
{% endblock %}
