{{ form_start(form) }}
    <div class="row">

        <div class="col-md-6">
            {{ form_widget(form) }}

            <button class="btn btn-success pull-right">{{ button_label|default('Save') }}</button>
        </div>

    </div>

{{ form_end(form) }}
